@import 'normalize.css';

:root {
    /* Colors */
    --primary-color: #fff;
    --secondary-color: #eee;
    --tertiary-color: #ccc;
    --app-font-color: #0c0c0c;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--secondary-color);
    color: var(--app-font-color);
    font-family: sans-serif;
}

#app {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @supports (min-height: 100dvh) {
        min-height: 100dvh;
    }

    @media (min-width: 1025px) {
        padding: 3.125rem;
    }
}